<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the Users Page</p>
    <form action="/search" method="GET">
      <input type="search" name="q" placeholder="Search for a username" />
      <button type="submit"> Search</button>
    </form>
    <ul>
      <% if (usernames.length > 0) { %>
        <% usernames.forEach(user => { %>
          <li><%= user.username %></li>
        <% }) %>
      <% } else { %>
        <li>No users found</li>
      <% } %>
    </ul>
  </body>
</html>
